<!DOCTYPE html>
<html>
<head>
<title>Demo RP for Self-Issued OpenID Provider</title>
</head>
<body bgcolor="#FFFFD0">
<h1>Demo RP for Self-Issued OpenID Provider</h1>

<h2>Description</h2>
<p>
This is a demo application which  displays claims in ID Token issued by 
your Self-Issued OP.
</p>

<p>Before starting this application, you need setup your Self-Issued OP 
application. You can use
'<b><a href="https://github.com/paoneJP/python-SelfIop">python-SelfIop</a></b>'.
</p>

<h2>Start demo</h2>
<p>
<a href="/info">Click here to start!</a>
</p>

</body>
</html>
